._.gitignore
._HW1
._HW2
._HW3
._.DS_Store
HW3/._convolutional.py
HW3/._homework3.pdf
HW3/._.DS_Store
HW3/data/._.DS_Store
HW3/data/._letter.data
HW3/data/._preprocessing.py
HW2/._.DS_Store
HW2/._deep_feed_forward_nn.py
HW2/._feed_forward_nn.py
HW2/._hmm.py
HW2/._homework2.pdf
HW2/._HW2-report.pdf
HW2/._lr.py
HW2/._structured_perceptron.py
HW2/._utils.py
HW2/data/._.DS_Store
HW2/data/._letter.data
HW2/data/._preprocessing.py
HW2/data/._word_preprocessing.py
HW1/._.DS_Store
HW1/._classifier.py
HW1/._homework1.pdf
HW1/._HW1-report.pdf
HW1/._mlp.py
HW1/._multinomial_lr.py
HW1/._perceptron.py
HW1/data/._.DS_Store
HW1/data/._letter.data
HW1/data/._preprocessing.py